<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class= "navbar navbar-default">

      <div class = "container">

        <div class="navbar-header">
          <%= link_to "Home", root_path, class: "navbar-brand" %>
        </div>

        <ul class="nav navbar-nav">

          <li><%= link_to "Register", new_user_registration_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", new_user_session_path %></li>
          <% end %>
          <li>
            <%= link_to "Contact", contact_path%>
          </li>
          
        </ul>

        <ul class= "nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "New Book", new_book_path %></li>
          <% end %>
          <li class="nav-item dropdown">

            <a href="#" class="noHover">Categories: </a>

            <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <% Category.all.each do |category| %>
                <li class="<%= 'active' if params[:category] == category.name%>">
                  <%= link_to category.name, books_path(category: category.name), class: "link" %>
                </li>
              <% end %>
            </div>
          </li>
          
        </ul>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  <style type="text/css">
    .noHover{
    pointer-events: none;
  }
  </style>
  </body>
</html>
